@import "tailwindcss";

@theme {
  --font-sans: 'Montserrat', sans-serif;
  --color-brand-blue: #1a56db;
  --color-brand-yellow: #ffc107;
  --color-garibook-blue: #0D52ED;
  --color-garibook-yellow: #FACC15;
}
